body{
	font-family: Arial, Helvetical, sans-serif;
}



form {
	border: 3px solid #f1f1f1;
}


.formData {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.btn{

	background-color: #04AA6d;
	color: #fff;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.btn:hover{
	opacity: 0.8;
}

table, th, td {
  border: 1px solid black;
}




.restoreBtn{
	background-color: green;
	color: whitesmoke;
}

.deleteBtn {
	background-color: red;
	color: whitesmoke;
}

.propertyById h2, .propTag {
	display: inline-block;
}

.propTag{
	
}